#include <stdio.h>
int main()
{
    int per;
    printf("enter the percentage");
    scanf("%d",&per);
    if(per>=0 && per<=40)
    {
     printf("student are fail");
    }
    else if(per>=41 && per<=60)
    {
        printf("student are in second class");
    }
    else if (per>=61 && per<=80)
    {
        printf("student are in first class");
    }
    else
    {
        printf("student are excellent");
    }
    return 0;

}
